@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manjari", sans-serif;
  font-size: 16px;
}

body {
  background-color: rgba(245, 247, 249, 1);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
h1 {
  color: rgba(122, 118, 117, 1);
  font-size: 0.75rem;
  font-weight: 400;
}

.container {
  width: 665px;
  margin: 0 auto;
  height: 1000px;
}

.box-header {
  text-align: center;
  background-color: white;
  margin-top: 100px;
  box-shadow: 0px 0px 27.9246px rgba(212, 212, 225, 0.6);
}
.box-header img {
  padding-top: 35px;
}
.box-header h1 {
  padding-bottom: 20px;
}
#todo-form {
  background-color: white;
  margin-top: 25px;
  margin-bottom: 75px;
  box-shadow: 0px 0px 27.9246px rgba(212, 212, 225, 0.6);
}
#todo-form input {
  width: 69%;
  background-color: rgba(97, 91, 160, 0.06);
  border: none;
  font-size: 0.87rem;
  color: rgba(36, 34, 57, 1);
  margin: 20px 16px 20px 20px;
  padding: 10px 20px 7px 20px;
}
#todo-form input::placeholder {
  font-size: 0.87rem;
  font-weight: bold;
  color: rgba(97, 92, 150, 0.38);
}
#todo-form button {
  border: 0;
  background: linear-gradient(-90deg, #4b4194 0%, #e3197e 47.92%, #f08205 100%);
  padding: 9px 39px 5px 39px;
  color: white;
  font-size: 0.87rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  transition: 0.2s;
}
#todo-form button:hover {
  background: linear-gradient(-90deg, #3f3773 0%, #b81b69 47.92%, #c16803 100%);
}
.lista-tarefas {
  background-color: white;
  list-style-type: none;
}
.lista-tarefas li {
  font-size: 0.87rem;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0px 0px 27.9246px rgba(212, 212, 225, 0.4);
}
.lista-tarefas input {
  all: unset;
  background: rgba(254, 133, 133, 1);
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 27px 0px 18px 20px;
}

.lista-tarefas input:checked {
  background: rgba(140, 242, 193, 1);
}

.delete-button {
  display: none;
}
